body {
  background-color: #ecd24a;

  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
}

#container * {
  margin: 0;
  padding: 0;
}

.h-separator {
  width: 25%;
}

#container .h-separator:first-of-type {
  background: linear-gradient(to right, #ecd24a, #000);
}

#container .h-separator:last-of-type {
  background: linear-gradient(to left, #ecd24a, #000);
}

#screen:hover {
  cursor: grab;
}

.membrain-link-container {
  display: flex;
  position: absolute;
  inset: 50vh 15px auto auto;
}
